
<%if User.current.groups.size > 0%>
  <%= javascript_include_tag 'watchers_multisel', :plugin => 'redmine_watchers_by_group' %>
<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<p>
<%= l(:watchers_select_multiple) %>
<%
roles=""
user_group = user_group ? user_group : User.current.groups
@groups = user_group.each do |item|
key=item.lastname
value=item.users
values = value.map do |user|
user.id
end
roles+="<option value=\"#{values.join(',')}\">#{key}</option>"
end %>
<%= select_tag(:watcher_multiple_group, roles.html_safe)%>
  <input type="submit" value="Select" onclick="return checkSome('issue[watcher_user_ids][]')" /> |
  <input type="submit" value="Unselect" onclick="return uncheckSome('issue[watcher_user_ids][]')" /> |
  <input type="submit" value="Select All" onclick="return checkAll('issue[watcher_user_ids][]')" /> |
  <input type="submit" value="Unselect All" onclick="return uncheckAll('issue[watcher_user_ids][]')" />
</p>

<% if controller.action_name == "show" %>
  <% watchers.each do |user| %>
    <% c = issue.watched_by?(user) %>
    <%= label_tag '', class: "floating", id: "issue_watcher_user_ids_#{user.id}" do %>
      <%= check_box_tag 'issue[watcher_user_ids][]', user.id, c, :id => nil %>
      <%= "#{h(user)}" %>
    <% end %>
  <% end %>

<% end %>

<%# content_for :header_tags do %>

<%# end %>
<% end %>
